@font-face {
  font-family: 'rubikblack';
  src: url('./fonts/rubik-black-webfont.woff2') format('woff2'),
       url('./fonts/rubik-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikblack_italic';
  src: url('./fonts/rubik-blackitalic-webfont.woff2') format('woff2'),
       url('./fonts/rubik-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikbold';
  src: url('./fonts/rubik-bold-webfont.woff2') format('woff2'),
       url('./fonts/rubik-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikbold_italic';
  src: url('./fonts/rubik-bolditalic-webfont.woff2') format('woff2'),
       url('./fonts/rubik-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikitalic';
  src: url('./fonts/rubik-italic-webfont.woff2') format('woff2'),
       url('./fonts/rubik-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubiklight';
  src: url('./fonts/rubik-light-webfont.woff2') format('woff2'),
       url('./fonts/rubik-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubiklight_italic';
  src: url('./fonts/rubik-lightitalic-webfont.woff2') format('woff2'),
       url('./fonts/rubik-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikmedium';
  src: url('./fonts/rubik-medium-webfont.woff2') format('woff2'),
       url('./fonts/rubik-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikmedium_italic';
  src: url('./fonts/rubik-mediumitalic-webfont.woff2') format('woff2'),
       url('./fonts/rubik-mediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'rubikregular';
  src: url('./fonts/rubik-regular-webfont.woff2') format('woff2'),
       url('./fonts/rubik-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html, body {
  margin: 0;
  font-family: 'rubikregular';
}

@media (max-width: 500px){
  body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .header-image {
    max-width: 450px;
    margin: 0 auto;
  }

  .header-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .about-me {
    width: 100%;
    margin: 0;
  }

  main {
    flex-grow: 1;
  }

  .description {
    padding: 10px; 
  }

  .my-work {
    gap: 30px;
    padding: 50px 20px;
  }
}
body {
  display: grid;
}

header {
  background-color: #028C6A;
  color: white;
  display: flex;
  align-items: center;
}

main {
  background-color: #7BC5AE;
  color: white;
}

footer {
  background-color: #028C6A;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.header-image {
  height: 650px;
  width: 450px;
  margin-left: 50px;
}

.about-me {
  margin-right: 50px;
  height: 60%;
  width: 70%;
  padding: 20px;
  font-size: 1.2rem;
}

main h2 {
  text-align: center;
  margin-top: 30px;
  font-size: 1.5rem;
}
.my-work {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.projects {
  height: 400px;
  width: 250px;
  box-shadow: 5px 4px 11px -5px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
}
.footer-image {
  height: 400px;
  width: 400px;
  justify-self: right;
}

.contact-me {
  width: 40%;
  height: 70%;
  padding: 20px;
  font-size: 1.1rem;
}

.header-image > img {
  height: 650px;
  width: 100%;
  object-fit: cover;
}

.footer-image > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.contact-details {
  display: flex;
  flex-direction: column;
}
.phone, .email, .social-media {
  display: flex;
  gap: 20px;
}
.social-media {
  margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.social-media a, .description a {
  text-decoration: none;
  color: white;
}

a i:hover {
  opacity: 0.5;
}

.projects > .pic {
  background-color: white;
  width: 100%;
  height: 250px;
}

.description {
  padding: 20px;
}

.description > .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description > p {
  font-size: 0.9rem;
}

.pic > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
